The dataset cointains the closing price, of 7 crypto exchange rate namely (btc, USD), (eth, btc), (ltc, btc), (xmr, btc), (xlm, btc), (neos, btc) and (dash, btc). Data are collected with a frequency of 30 minutes, starting from the 08-08-2015, to 31-07-2018. For the regression task, the target variable is the (btc, USD) exchange rate, given the other exchange rates.
The overall dataset is of size N x D = (52235, 7), split in training and test set with a constant proportion of 0.8.

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('../data/benchmark/btc_30m_close.csv', index_col=0)

In [20]:
df.shape

(52235, 7)

In [21]:
df.head()

,btc_usdt,eth_btc,ltc_btc,xmr_btc,xlm_btc,neos_btc,dash_btc
timestamp,,,,,,,
2015-08-08 05:00:00,275.385841,0.005501,0.014981,0.002617,0.000009,0.000014,0.011675
2015-08-08 05:30:00,275.385841,0.006001,0.014967,0.002637,0.000009,0.000014,0.011670
2015-08-08 06:00:00,273.905543,0.005875,0.014824,0.002604,0.000009,0.000014,0.011791
2015-08-08 06:30:00,274.155050,0.006500,0.014951,0.002573,0.000008,0.000014,0.011700
2015-08-08 07:00:00,273.879113,0.006890,0.015046,0.002490,0.000008,0.000014,0.011700

In [22]:
df.tail()

,btc_usdt,eth_btc,ltc_btc,xmr_btc,xlm_btc,neos_btc,dash_btc
timestamp,,,,,,,
2018-07-31 08:00:00,8105.352864,0.055305,0.009955,0.016004,0.000034,0.000122,0.028443
2018-07-31 08:30:00,8027.636279,0.055454,0.009980,0.016060,0.000034,0.000122,0.028630
2018-07-31 09:00:00,8025.000000,0.055610,0.009995,0.016095,0.000034,0.000122,0.028492
2018-07-31 09:30:00,8014.223828,0.055485,0.010005,0.016115,0.000034,0.000118,0.028310
2018-07-31 10:00:00,8014.223828,0.055441,0.010010,0.016090,0.000034,0.000118,0.028286