### Adapting a new dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_pickle('../data/btc_30m.pkl')

In [8]:
df.head()

                       btc_usdt                                       eth_btc  \
                          close        high         low        open     close
timestamp
2015-08-08 05:00:00  275.385841  275.385841  275.385841  275.385841  0.005501
2015-08-08 05:30:00  275.385841  275.385841  275.385841  275.385841  0.006000
2015-08-08 06:00:00  273.905543  275.603572  273.626238  275.603572  0.005875
2015-08-08 06:30:00  274.155050  274.155050  273.917572  273.917572  0.006500
2015-08-08 07:00:00  273.879113  273.952246  273.874325  273.952246  0.006890

                                                     ltc_btc            \
                         high       low       open     close      high
timestamp
2015-08-08 05:00:00  50.00000  0.005501  50.000000  0.014981  0.014981
2015-08-08 05:30:00   0.01280  0.005500   0.005501  0.014967  0.014967
2015-08-08 06:00:00   0.00719  0.005000   0.006900  0.014824  0.014955
2015-08-08 06:30:00   0.00659  0.005223   0.005425  0.014951  0.014951
2015-08-08 07:00:00   0.00690  0.005874   0.006340  0.015046  0.015047

                       ...      xlm_btc            neos_btc            \
                       ...          low      open     close      high
timestamp              ...
2015-08-08 05:00:00    ...     0.000009  0.000009  0.000014  0.000014
2015-08-08 05:30:00    ...     0.000009  0.000009  0.000014  0.000014
2015-08-08 06:00:00    ...     0.000009  0.000009  0.000014  0.000014
2015-08-08 06:30:00    ...     0.000008  0.000008  0.000014  0.000014
2015-08-08 07:00:00    ...     0.000008  0.000008  0.000014  0.000014

                                         dash_btc                      \
                          low      open     close      high       low
timestamp
2015-08-08 05:00:00  0.000014  0.000014  0.011675  0.011757  0.011675
2015-08-08 05:30:00  0.000014  0.000014  0.011670  0.011799  0.011670
2015-08-08 06:00:00  0.000014  0.000014  0.011791  0.011794  0.011650
2015-08-08 06:30:00  0.000014  0.000014  0.011700  0.011702  0.011700
2015-08-08 07:00:00  0.000014  0.000014  0.011700  0.011790  0.011700


                         open
timestamp
2015-08-08 05:00:00  0.011757
2015-08-08 05:30:00  0.011675
2015-08-08 06:00:00  0.011670
2015-08-08 06:30:00  0.011702
2015-08-08 07:00:00  0.011700

[5 rows x 28 columns]

In [21]:
print('start_date: {}, end_date: {}, days: {}'.format(df.index[0], df.index[-1], (df.index[-1]  - df.index[0]).days))

start_date: 2015-08-08 05:00:00, end_date: 2018-07-31 10:00:00, days: 1088

In [31]:
assert not df.isna().sum().any()

In [32]:
# we leave btc_usdt as the first column, that we treat as the main time series. All the other trades will be as ancillary series
df.describe()

           btc_usdt                                                 eth_btc  \
              close          high           low          open         close
count  52235.000000  52235.000000  52235.000000  52235.000000  52235.000000
mean    3262.275824   3280.690118   3242.479760   3262.365853      0.039578
std     3974.916526   4003.360614   3944.192772   3975.318246      0.032482
min      178.719313    191.300000    174.570134    191.300000      0.001470
25%      453.499889    454.317500    452.659339    453.294154      0.011856
50%      984.900000    990.000000    980.000000    984.900000      0.025600
75%     6080.500000   6104.492307   6051.289264   6080.924499      0.070055
max    19820.000000  19903.440214  19775.000000  19820.000000      0.150200

                                                      ltc_btc                \
               high           low          open         close          high
count  52235.000000  52235.000000  52235.000000  52235.000000  52235.000000
mean       0.040753      0.039345      0.040536      0.010610      0.010660
std        0.221020      0.032308      0.220998      0.004654      0.004682
min        0.001575      0.001370      0.001470      0.003040      0.003056
25%        0.011945      0.011793      0.011857      0.006584      0.006609
50%        0.025800      0.025389      0.025600      0.009459      0.009502
75%        0.070328      0.069809      0.070080      0.014789      0.014860
max       50.000000      0.148300     50.000000      0.024960      0.025000

           ...            xlm_btc                    neos_btc                \
           ...                low          open         close          high
count      ...       5.223500e+04  52235.000000  52235.000000  52235.000000
mean       ...       1.166422e-05      0.000012      0.000333      0.000336
std        ...       1.341805e-05      0.000014      0.000431      0.000436
min        ...       3.400000e-07      0.000001      0.000001      0.000001
25%        ...       3.200000e-06      0.000003      0.000029      0.000029
50%        ...       4.770000e-06      0.000005      0.000195      0.000197
75%        ...       1.401000e-05      0.000014      0.000409      0.000413
max        ...       5.900000e-05      0.000061      0.003049      0.003120

                                       dash_btc                              \
                low          open         close          high           low
count  52235.000000  52235.000000  52235.000000  52235.000000  52235.000000
mean       0.000330      0.000333      0.034756      0.034979      0.034520
std        0.000426      0.000431      0.025309      0.025485      0.025119
min        0.000001      0.000001      0.005251      0.005380      0.005250
25%        0.000029      0.000029      0.011930      0.012000      0.011863
50%        0.000194      0.000195      0.020581      0.020711      0.020410
75%        0.000406      0.000409      0.056217      0.056605      0.055755
max        0.002925      0.003049      0.120770      0.124157      0.117620


               open
count  52235.000000
mean       0.034750
std        0.025301
min        0.005260
25%        0.011925
50%        0.020565
75%        0.056200
max        0.120900

[8 rows x 28 columns]

In [36]:
# %load ../utils/dataset_utils.py
# This is the function that format the data for the Dataset iterator in dataset.py
# x is the time series before seq_len
# y is the time series after seq_len steps
# if not ar we x will contain all the ancillary features
# you can edit this function as you like but keep the same output interface
def make_features(df,
                  seq_len=12,
                  preprocess="normalize",
                  lags=(12,),
                  ar=False,
                  use_x=False):
    mu = 0.
    std = 1.
    x = df.iloc[:, :1].values[:-seq_len]
    y = df.iloc[:, :1].values[seq_len:]
    y_features = np.hstack(
        [df.iloc[:, :1].shift(lag).fillna(0).values[:-seq_len] for lag in
         lags])

    dates = {
        'x': df.index[:-seq_len].tolist(),
        'y': df.index[seq_len:].tolist(),
    }
    if preprocess == "normalize":
        mu = x.mean()
        std = x.std()
        x = (x - mu) / std
        y_features = (y_features - y_features.mean()) / y_features.std()

    if not ar:
        x_features = df.iloc[:, 1:].values[:-seq_len]
        if preprocess == "normalize":
            x_features = (x_features - x_features.mean(axis=0)) / (x_features.std(axis=0))
        if use_x:
            x = np.concatenate([x, x_features], axis=-1)
        else:
            x = x_features

    assert np.isnan(x).sum() == 0

    return {
               'x': x,
               'y': y,
               'y_features': y_features,
           }, dates, {'mu': mu, 'std': std}